#menu-deroulant, #menu-deroulant ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    
}

#menu-deroulant li {
/* on place les liens du menu horizontalement */
    display: inline-block;
}
#menu-deroulant ul li {
/* on enlève ce comportement pour les liens du sous menu */
    display: inherit;
}
#menu-deroulant a {
    border-radius: 10px;
    text-decoration: none;
    border: 1px  blue;
    line-height: 150%;
    display: block;
	color:#000;
}
#menu-deroulant ul {
    position: absolute;
/* on cache les sous menus complètement sur la gauche */
    left: -999em;
    text-align: left;
    z-index: 1000;
}
#menu-deroulant li:hover ul {
/* Au survol des li du menu on replace les sous menus */
    left: auto;
}

#entree, #boissons, #sandwich, #desserts
{
    display: inherit;
    font-size: 18px;
    font-family: Courier New, Courier, monospace;
    background: linear-gradient(blue, #58D3F7);
    width: 150px
}

li
{
    display: inherit;
    font-size: 18px;
    font-family: Courier New, Courier, monospace;
    background: linear-gradient(whitesmoke, grey);
    width: 150px
}

#image
{
    width: 30px;
}

#image2
{
    position: absolute;
    top:0;
    width: 200px;
}